/* General Styles */
body{
background-color:#0000FF;
color:#FFF;
font-family: Lucida Console;

}

#hackercursor{
	background-color:#FFFFFF;
	display:inline;
	margin:0px;
	padding:0px;

}
#leethax{
	margin:0px;
	padding:0px;
	display:inline-block
}
#whte_rbt_obj{
	display:none;
	position: absolute;
	left: 50%;
	margin-left: -50px;
	top: 30%;
	margin-top: -50px;
}
#whte_rbt_obj_container{
	position:relative;
}